input{
    width: 100px;
    height: 80px;
    border-radius: 5%;
    border-color: rgb(145, 163, 179);
}

.fit{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

button{
    width: 100px;
        height: 70px;
        border-radius: 5%;
        border-color: rgb(76, 164, 241);
        font-size: smaller;
        text-align: center;
    
}

button:hover{
    background-color: rgb(131, 194, 245);
    color: rgb(36, 56, 74);
    border-color: rgb(28, 142, 235);
}

.calculator{
    margin-top: auto;
    padding-top: 20px;
    padding-left: 5px;
    background-color: rgb(253, 110, 74);
    margin-top: 0;
    height: 550px;
    width: 417px;
    border-radius: 5%;
    margin-left: 100px;
    padding-bottom:50px ;
}

.everything{
    display: flex;
    justify-content: space-between;
    
}

.box{
    
    row-gap: 0px;
    column-gap: 0px;
   
}